/* 
	Palette:
		#303750 - dark blue
		#596d82 - gray blue
		#85a1ca - blue
		#f3d8e0 - bubblegum
		#d29a95 - brown
*/

body {
  background-color: #f3d8e0;
}

.container {
  position: relative;
  top: 50vh;
}

.container[pump="1"] {
  animation: wait 4s 1 forwards;
}

.stick1 {
  background: #313750;
  position: absolute;
  left: 217pt;
  width: 65pt;
  height: 10pt;
  border-radius: 3px;
}

.stick1[pump="1"] {
  animation: stick 0.7s 1 forwards;
}

.stick2 {
  background: #313750;
  position: absolute;
  left: 245pt;
  width: 10pt;
  height: 90pt;
}

.stick2[pump="1"] {
  animation: stick 0.7s 1 forwards;
}

.box {
  border-radius: 7px;
  background: #596d82;
  position: absolute;
  left: 200pt;
  top: 90pt;
  width: 100pt;
  height: 100pt;
}

.stamp-balloon {
  position: absolute;
  left: 230pt;
  top: 100pt;
  width: 63px;
  height: 90px;
  background-color: #d29a95;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  transform: rotate(190deg);
}

.stamp-triangle {
  width: 0;
  height: 0;
  position: absolute;
  left: 240pt;
  top: 163pt;
  border-bottom: 12px solid #d29a95;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(13deg);
}

.hose {
  position: absolute;
  left: 380px;
  top: 120px;
  width: 200px;
  height: 100px;

  border: solid 5px #000;
  border-color: transparent transparent #000 transparent;
  border-radius: 0 0 240px 50%/60px;
}

.baloon {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #86a1ca;
  position: absolute;
  left: 535px;
  top: 120px;
  width: 30px;
  height: 30px;
}


.ground {
  background-color: gray;
  opacity: 0.3;
  position: absolute;
  left: 200px;
  top: 170pt;
  width: 600px;
  height: 50px;
  border-radius: 100%;
}

@keyframes stick {
  0% {
    top: 0px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}

@keyframes wait {
}


